<%= javascript_tag do %>



    function show() {
      $('.collection').fadeOut();
      //dodathang
      $('.collection').fadeIn();
    }

<% end %>
<div class="main">
  <div class="row">
    <div class="col s6">
      <div class="logo">
        <%= image_tag("logo.png", :alt => "logo") %>
      </div>
      <svg id="svg-map" version="1.1" id="svg-map" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="600px" height="600px" viewBox="0 0 450 460" enable-background="new 0 0 450 460" xml:space="preserve">
        <g>
          <% Estado.each do |estado| %>
              <a onclick="show();">
                <path fill="#3e8f5e" stroke="#FFFFFF" stroke-width="1.0404" stroke-linecap="round" stroke-linejoin="round" d="<%=estado.shape_description%>""></path>
                <% if estado.has_circle %>
                    <path class="circle" d="<%=estado.circle_shape%>"></path>
                <% end %>
                <text transform="<%= estado.text_position %>" fill="#FFFFFF"><%= estado.sigla %></text>
              </a>
          <% end %>
      </g>
    </svg>
  </div>
  <div class="col s6 info valign-wrapper">
    <ul class="collection">
      <li class="collection-item">
        <h3>Nome do Estado</h3>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle">folder</i>
        <span class="title">Title</span>
        <p>First Line <br>
           Second Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">insert_chart</i>
        <span class="title">Title</span>
        <p>First Line <br>
           Second Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle red">play_arrow</i>
        <span class="title">Title</span>
        <p>First Line <br>
           Second Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
  </ul>
  </div>
</div>
</div>