<!DOCTYPE html>
<html>
<head>

  <title><%= render_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= include_gon(init: true) %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>


<%= yield %>

<script>
    <%= yield :js %>
</script>
</body>
</html>
